{% extends 'main/base.html' %}
{% block title %}
    Добавление
{% endblock %}
{% block addons %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
 
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
{% endblock %}
{% block content %}
<div id='spreadsheet'></div>

<script>
var  data = [
            ['Концентрат', '01-01-2022', 6.0, 6.0, 6.0, 6.0, 6.0],
        ]
jspreadsheet(document.getElementById('spreadsheet'), {
        data: data,
        columns: [
            { title:'Концентрат', width:'300px' },
            { type: 'calendar', title:'Дата', width:'100px' },
            { type: 'numeric', title:'Железо', width:'80px' },
            { type: 'numeric', title:'Кремний', width:'80px' },
            { type: 'numeric', title:'Алюминий', width:'80px' },
            { type: 'numeric', title:'Кальций', width:'80px' },
            { type: 'numeric', title:'Сера', width:'80px' },


        ]
  
});
</script>

<br>
<div id="console">
    jopa
</div>
<script>
    function doSubmit(){
        document.sendc.data1.value = JSON.stringify(data);
        return true;
      }
</script>
<form name="sendc" action="{% url 'add_conc' %}" method="post" onsubmit="doSubmit();">
    {% csrf_token %}
    <select name="month">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
    </select>
    <input type=text id="data1" name="data1" value="">
    <button type="submit" class="btn btn-success">-></button>

</form>

{% endblock %}
